@charset "utf-8";

$body-size: 14px;

@import "../node_modules/bulma/bulma.sass";

.Avatar {

  .scale {
  }

  .avatar-drop {
  }
}

.SkillItem {
  .card {

    min-width: 9em;
  }
  .total {
    font-size: 200%;
    text-align: right;
    &::after {
      content: "%";
      font-size: 1rem;
    }
  }
  .name {
    display: none;
  }
  .modified {
    //background-color: lighten($cyan, 0%);
    .name {
      color: $cyan-invert;
    }

    .card-header {
      background-color: $yellow;
    }
  }
  &:hover .name {
    display: inline-block;
    position: absolute;
    color: $grey-light;
    font-size: 0.5em;
  }

  .non-edit {

    height: 9em;
    &:hover {
      background-color: $white-bis;
    }
  }

  .non-edit .total {
  }

  .editing {
    position: absolute;
    z-index: 100;
    min-width: 8em;
  }
}

.PointInput {
  //max-width: 8em;
}

.Information-fields {
}

.Stats {
  .attributes {
    //width: 20em;
  }
  .other {
    //width: 20em;
  }
}
