@charset "utf-8";

$body-size: 14px;

$avatar-width: 250px;


@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-slider/src/sass";

.Avatar {
  .upload-hint {
    padding: 4em 0;
    text-align: center;
  }
  .avatar-upload-icon {
    width: 4em;
    height: 4em;
  }
}

.SkillItem {
  .skill-mark {
    float: left;
  }
  .total {
    font-size: 200%;
    text-align: right;
    &::after {
      content: "%";
      font-size: 1rem;
    }
  }
  .name {
    display: none;
  }
  .modified {
    //background-color: lighten($cyan, 0%);
    .name {
      color: $cyan-invert;
    }

    .card-header {
      background-color: $yellow;
    }
  }
  &:hover .name {
    display: inline-block;
    position: absolute;
    color: $grey-light;
    font-size: 0.5em;
  }

  .non-edit {

    min-width: 9em;
    max-width: 14em;
    height: 9em;
    &:hover {
      background-color: $white-bis;
    }
  }

  .non-edit .total {
  }

  .editing {
    box-shadow: 1px 1px 5px #777777;
    position: absolute;
    z-index: 100;
    min-width: 8em;
  }
}

.PointInput {
  min-width: 5em;
  max-width: 8em;
}

.Information-fields {
}

.Stats {
  .attributes {
    //width: 20em;
  }
  .other {
    min-width: 14em;
  }
}
